body {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Aleo', serif;
	font-family: 'Magra', sans-serif;
	font-family: 'Red Hat Text', sans-serif;
	padding: 0;
}



.header {
	position: relative;
	z-index: 3;
	height: 90.75px;
}

.header__menu {
	z-index: 12;
	background-color: #F2785C;
	box-shadow: 0px 4.03333px 4.03333px rgba(13, 96, 111, 0.5);
	opacity: 70%;

}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1210px;
	margin: 0 auto;
	height: 90.75px;

}

.logo__text {
	text-decoration: none;
	font-family: 'Magra';
	font-style: normal;
	font-weight: 600;
	font-size: 32.2667px;
	line-height: 39px;
	color: #FFFFFF;
}

.header__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.header__elem {
	margin-right: 42px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16.1333px;
	line-height: 21px;
	color: #FFFFFF;
}

.header__but {
	width: 103.86px;
	align-items: center;
	background-color: #0D606F;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 4.03333px 4.03333px rgba(0, 0, 0, 0.25), 0px 2.01667px 3.025px rgba(13, 96, 111, 0.16);
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16.1333px;
	line-height: 21px;
	color: #FFFFFF;

}

.preview {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	background-image: url(/assets/img/Heder.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 771.38px;
}

.preview__wrapper {
	margin-top: 123.02px;
	margin-left: 121px;
	width: 899.43px;
}


h1 {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 80.6667px;
	line-height: 97px;
	color: #FFFFFF;

}

.preview__text {
	margin-bottom: 46.58px;
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	font-size: 20.1667px;
	line-height: 24px;
	color: #FFFFFF;
}

.search {
	display: inline-block;
	position: relative;
	margin-bottom: 256.12px;

}

.search__control {
	width: 899.43px;
	height: 95.79px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 16.1333px;
	border: none;
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 400;
	font-size: 24.2px;
	line-height: 29px;
	padding-left: 41.34px;
	display: block;
}

.search__control::-webkit-input-placeholder {
	color: #F2785C;
}

.search__btn {
	position: absolute;
	top: 18.15px;
	right: 18.15px;
	width: 229.9px;
	height: 59.49px;
	background: #0D606F;
	box-shadow: 0px 0px 3.025px rgba(13, 96, 111, 0.08), 0px 2.01667px 3.025px rgba(13, 96, 111, 0.16);
	border-radius: 10.0833px;
	border: none;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24.2px;
	line-height: 32px;
	color: #FFFFFF;
}

.steps {
	margin-top: 761.29px;
}

.steps__wrapper {
	max-width: 1186.81px;
	margin: 0 auto;
	margin-bottom: 97.81px;
}

.steps__part {
	display: flex;
	justify-content: space-between;
}

.steps__head {
	text-align: center;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40.3333px;
	line-height: 53px;
	color: #F2785C;
	margin-bottom: 40.33px;
}

.steps__chois {}

.steps_card {
	display: block;
	margin: 0 auto;
}

.steps__card_text {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20.1667px;
	line-height: 24px;
	color: #0D606F;

}

.destinations {
	margin-bottom: 80.67px;
}

.destinations__head {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40.3333px;
	line-height: 53px;
	color: #F2785C;
	text-align: center;
	margin-bottom: 46.83px;
}

.destination__cards {
	display: flex;
	width: 100%;
	overflow-x: hidden;
	height: 806.67px;
	margin-bottom: 84.7px;
}

.destination__card_ind {
	background-image: url(/assets/img/Destination\ 1.jpg);
	background-repeat: no-repeat;
	width: 806.67px;
	margin: 0px 60.5px;
}

.destination__card_ind: :nth-child(2) {}

/* .destinations__img_1::before {
	display: block;
	text-align: center;
	content: counter(destinations__img_1);
	line-height: 200px;
	font-size: 80px;
	color: white;
} */

.stories__wrapper {
	width: 100%;
	position: relative;
	z-index: 5;
}

.stories__background_img {
	position: absolute;
	z-index: 1;
	margin-top: 93.3px;
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
}

.stories__background_rectangle {
	position: absolute;
	z-index: 2;
	margin-top: 93.3px;
	width: 100%;
	height: 1281px;
	background: rgba(255, 255, 255, 0.7);
}

.sories__head {
	text-align: center;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40.3333px;
	line-height: 53px;
	color: #F2785C;
	margin-bottom: 81.11px;
}

.stories__cards_elem {
	display: flex;
	width: 1210px;
	margin: 0 auto;
	margin-bottom: 30.25px;

}

.stories__cards__picture {
	width: 403.33px;
	border-radius: 16.1333px;
	filter: drop-shadow(0px 4.03333px 4.03333px #0D606F);
	margin-right: 40.33px;
}

.stories__cards_head {
	margin-top: 0px;
	margin-bottom: 24.55px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 35.2917px;
	line-height: 42px;
	color: #0D606F;
}

.stories__cards_text {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20.1667px;
	line-height: 24px;
	color: #0D606F;
	margin-bottom: 0px;
}

.storis__cards_link {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 20.1667px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #0D606F;
}

.stories__btn {
	display: block;
	margin: 0 auto;
	width: 229.9px;
	height: 59.49px;
	background: #0D606F;
	background-image: url(/assets/svg/arrow.svg);
	background-repeat: no-repeat;
	background-position: 31.26px 9.58px;
	box-shadow: 0px 0px 3.025px rgba(13, 96, 111, 0.08), 0px 2.01667px 3.025px rgba(13, 96, 111, 0.16);
	border-radius: 10.0833px;
	border: none;
	padding-left: 81.67px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24.2px;
	line-height: 32px;
	color: #FFFFFF;
	padding-bottom: 0px;

}

footer {
	position: absolute;
	z-index: 10;

}

.footer__wrapper {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 735.04px;
	margin-left: 594.92px;
	margin-right: 122.05px;


}

.footer__head {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16.1333px;
	line-height: 21px;
	color: #FFFFFF;
	text-align: center;

}

.footer__icons_link {
	margin-right: 0.17px;
}